:root {
  background: #f6faff;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

section {
  padding: var(--card-padding);
  display: flex;
  gap: 1rem;

  img {
    width: var(--image-width);
    border-radius: 5rem;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: var(--font-heading);
      font-weight: 700;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 0.5rem;
      color: rgb(0, 154, 136);
    }

    #icons {
      margin-top: 0.7rem;
      display: flex;
      gap: 2rem;

      svg {
        height: 2rem;
        width: 2rem;
        color: var(--color-icon);
      }
    }
  }
}
